# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [1]:
DATA_FOLDER = './Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

import glob
import natsort
import pandas as pd
import numpy as np
from dateutil.parser import parse

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

### Data field names
Column names and the names of the variables we want to extract slightly vary between countries. Hence, first we define the column names of the _date_ column, _variable_ and _national total_ columns as well as the names of the fields for each country.

In addition to new cases and total deaths, we also extract the data correponding to new deaths , total cases and total deaths aggregated over all couties to cross-check the data. 

For new and total deaths and cases, respectively, we chose to extract confirmed values which seem most reliable.

In [2]:
# Dataframe importing 
# Colums: country, month, averagy, new cases, death

# column names and interesting variables for each country

# column name of the date column
col_date = {"guinea" : "Date",
            "liberia": "Date",
            "sl" : "date"} 

# column name of the indicator variables to extract according to country
# column containing the variables
col_name={"guinea" : "Description",
          "liberia": "Variable",
          "sl" : "variable"} 
# column containing national totals
col_total = {"guinea":"Totals",
             "liberia":"National",
             "sl": "National"} # column name where the national totals per day are stored

# counties
col_counties={"guinea":["Conakry","Gueckedou","Macenta","Dabola","Kissidougou","Dinguiraye",
                        "Telimele","Boffa","Kouroussa","Siguiri","Pita","Nzerekore","Yomou",
                        "Dubreka","Forecariah","Kerouane","Coyah","Dalaba","Beyla","Kindia"],
              "liberia":["Bomi County","Bong County","Grand Kru","Lofa County","Margibi County",
                         "Maryland County","Montserrado County","Nimba County","River Gee County",
                         "RiverCess County","Sinoe County"],
              "sl":["Kailahun","Kenema","Kono","Kambia","Koinadugu","Bombali","Tonkolili","Port Loko",
                    "Pujehun","Bo","Moyamba","Bonthe","Western area urban","Western area rural"]}


# rows names to extract according to country
# new deaths
var_death_new =  {"guinea" : ["New deaths registered today (confirmed)","New deaths registered"], 
                  # in the case of Guinea, the row names for new deaths differ
             "liberia": ["Newly reported deaths"],# "Total death/s in confirmed cases"
             "sl":["etc_new_deaths"]}

# total deaths
var_death_total =  {"guinea" : ["Total deaths of confirmed"],
             "liberia": ["Total death/s in confirmed cases"],# "Total death/s in confirmed cases"
             "sl":["death_confirmed"]}

# new cases
var_cases_new = {"guinea" : ["New cases of confirmed"],
             "liberia": ["New case/s (confirmed)"],
             "sl":["new_confirmed"]}

# total cases
var_cases_tot = {"guinea" : ["Total cases of confirmed"],
             "liberia": ["Total confirmed cases"],
             "sl":["cum_confirmed"]}

### Aggregate data frames
Now, we loop over all files and import them, applying necessary clean-up operations.

For each country and for each date, we extract the interresting values that are cleaned up (type conversions, comma stripping etc...). They are dataframes with only one row that look like this one: 
<img src='imgs/1.png'>

All those DataFrames are in the list `dfs` and eventually merged in `df` by paying attention to the index.

In [3]:
dfs = [] # this is a list of dataframes (one for each day)
for c in ['guinea','liberia','sl']:
    for file in sorted(glob.glob(DATA_FOLDER+"/ebola/"+c+"_data/*.csv")): #going through all the files
        df = pd.read_csv(file,index_col=None)
        df = df.fillna(0) # Fill NA values
        
        # Get Data
        columns=[col_date[c],col_name[c],col_total[c]]
        
        # Dates
        date = pd.to_datetime(df[1:2][col_date[c]]) # dates
        
        # New cases
        # Extract only relevant rows for new cases
        df_cases_new = df[df[col_name[c]].isin(var_cases_new[c])]
        # Extract only relevant columns (date - name - total)
        df_cases_new = df_cases_new[columns]
        # Strip commas for 1000s
        df_cases_new[0:1][col_total[c]].values[0] = str(df_cases_new[0:1][col_total[c]].values[0]).replace(',','')
        # Convert to int (e.g., 10.0 or 10,0)
        df_cases_new[col_total[c]] = df_cases_new[col_total[c]].astype(int)
        # Cases
        cases_new = int(df_cases_new[0:1][col_total[c]])
        
        # Total cases
        # Extract only relevant rows for total cases
        df_cases_total = df[df[col_name[c]].isin(var_cases_tot[c])]
        # Extract only relevant columns (date - name - total)
        df_cases_total = df_cases_total[columns]
        # Strip commas for 1000s
        df_cases_total[0:1][col_total[c]].values[0] = str(df_cases_total[0:1][col_total[c]].values[0]).replace(',','')
        # Convert to int (e.g., 10.0 or 10,0)
        df_cases_total[col_total[c]] = df_cases_total[col_total[c]].astype(int)
        # Cases
        cases_total = int(df_cases_total[0:1][col_total[c]])

        # New deaths
        # Extract only relevant rows
        df_deaths_new = df[df[col_name[c]].isin(var_death_new[c])]
        # Extract only relevant columns (date - name - total)
        df_deaths_new = df_deaths_new[columns]
        # Deaths 
        deaths_new = int(df_deaths_new[0:1][col_total[c]])
        
        # Total Deaths
        # Extract only relevant rows
        df_deaths_total = df[df[col_name[c]].isin(var_death_total[c])]
        # Extract only relevant columns (date - name - total)
        df_deaths_total = df_deaths_total[columns]
        # Deaths
        deaths_total = int(df_deaths_total[0:1][col_total[c]]) 
        
        # Total Deaths by County
        # Extract only relevant rows
        df_deaths_total_county_sum = df[df[col_name[c]].isin(var_death_total[c])] 
        cols=list(set(df.columns.values).difference(columns))
        # Extract only relevant columns (date - name - total)
        df_deaths_total_county_sum = df_deaths_total_county_sum[cols]
        for col in df_deaths_total_county_sum.columns:
            df_deaths_total_county_sum[col]=df_deaths_total_county_sum[col].astype(int)
        deaths_total_county_sum = np.nansum(df_deaths_total_county_sum.values)
        
        # New dataframe from data (one row per date)
        df = pd.DataFrame({"Country":c,"Date":date,"New Cases":cases_new,"Total Cases":cases_total,"New Deaths":deaths_new,"Total Deaths":deaths_total,"Total Deaths Counties":deaths_total_county_sum},index=None)
        dfs.append(df)
        
for i in range(len(dfs)-1): # concatenate all dataframes (rows)
    dfs[0] = pd.concat([dfs[0],dfs[i+1]])
df=dfs[0]

df=df.sort_values(by=['Country','Date']) # sort by country and date
df=df.set_index(['Country','Date']) # new index
df.head()

                    New Cases  New Deaths  Total Cases  Total Deaths  \
Country Date
guinea  2014-08-04          4           2          351           228
        2014-08-26         10           5          490           292
        2014-08-27         10           2          499           294
        2014-08-30          9           5          533           324
        2014-08-31         29           3          563           337

                    Total Deaths Counties
Country Date
guinea  2014-08-04                    228
        2014-08-26                    292
        2014-08-27                    267
        2014-08-30                    324
        2014-08-31                    337

There seems to be a discrepancy between the new deaths (confirmed) and the total deaths (confirmed), as the new cases /deaths don't add up to the cumsum of the total cases / deaths of the next date. Maybe the data doesn't come from the same source or there is missing data. 

Also, the total deaths don't always quite add up with the sum of deaths per county, which may be due to incomplete data.

In [4]:
df.tail()

                    New Cases  New Deaths  Total Cases  Total Deaths  \
Country Date
sl      2014-12-01         72           0         5978          1549
        2014-12-04         37           3         6238          1648
        2014-12-05         54           8         6292          1669
        2014-12-06          0           0         6317          1708
        2014-12-13          0           0         6638             0

                    Total Deaths Counties
Country Date
sl      2014-12-01                   1549
        2014-12-04                   1648
        2014-12-05                   1669
        2014-12-06                   1708
        2014-12-13                      0

### Data checking

Let's check the data whether the index is unique and whether there are still NaN values

In [5]:
# Data checking
print("Index unique:")
print(df.index.is_unique) # True
for col in df.columns:
    print(col+":")
    print(df[df[col].isnull()].size) # get NaN colums (all 0)
    
df=df.reset_index() # for next part

Index unique:
True
New Cases:
0
New Deaths:
0
Total Cases:
0
Total Deaths:
0
Total Deaths Counties:
0

### Aggregate by month

Now, we can regroup the data by month and sums each column by the month. Then, we rename the date column as month column

In [6]:
# Aggregate by month

df_month = pd.DataFrame(df[["Country","Date","New Cases","New Deaths"]].groupby([df.Country,df.Date.dt.month]).mean()).reset_index()
df_month.columns=["Country","Month","Mean New Cases","Mean New Deaths"]
df_month = df_month.set_index(['Country','Month'])
df_month.round(2)

               Mean New Cases  Mean New Deaths
Country Month
guinea  8               12.40             3.40
        9               13.00             3.56
        10               6.00            15.00
liberia 6                2.14             2.00
        7                1.82             4.27
        8                5.44            23.22
        9                6.17            36.04
        10               1.36            28.04
        11               2.60            13.47
        12            1928.33             0.00
sl      8               18.55             0.00
        9               34.41             0.28
        10              56.71             3.54
        11              59.90             0.57
        12              32.60             2.20

It seems like Ebola peaked around September in Guinea, around August-October in Liberia and around October-November in Sierra Leone.

_suspicious_: no deaths in November and December in Liberia but many new cases. Maybe erroneous data or breakout of a new epidemia.

In [7]:
# TODO
# Add column for NaN and number of days
# For mean, exclude mean
# Ignore December in Liberia and explain why
# Cure Ebola 🦄

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

### DataFrame Merging
First we merge all data frames:

In [12]:
# Write your answer here

# Read in Excel files, concatenate them and add file name (MID1...9) for later merging
dfs=[]
for i in range(1,10):
    MID_tmp=pd.read_excel(DATA_FOLDER+'/microbiome/MID'+str(i)+'.xls', sheetname='Sheet 1', header=None,index_col=0)
    MID_tmp.columns=['Count']
    MID_tmp['BARCODE'] = "MID"+str(i)  # add column with file name
    # new dataframe from data
    dfs.append(MID_tmp)
        
for i in range(len(dfs)-1): # concatenate all dataframes
    dfs[0] = pd.concat([dfs[0],dfs[i+1]])

MID=dfs[0]
MID.index.name="Species"
MID=MID.reset_index()
MID=MID.set_index(["BARCODE","Species"])
MID.head()

                                                            Count
BARCODE Species
MID1    Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      7
        Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      2
        Archaea "Crenarchaeota" Thermoprotei Sulfolobal...      3
        Archaea "Crenarchaeota" Thermoprotei Thermoprot...      3
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...      7

### Metadata import and Merging
We can now import the metadata and merge the files.

In [16]:
# read metadata
metadata = pd.read_excel(DATA_FOLDER+'/microbiome/metadata.xls', sheetname='Sheet1',index_col=0)

# merge metadata and files
MID_merged = pd.merge(metadata, MID, left_index=True, right_index=True)#, on="BARCODE")
MID_merged=MID_merged.fillna("unknown")
MID_merged.head()

                                                                         GROUP  \
BARCODE Species
MID1    Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  EXTRACTION CONTROL
        Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  EXTRACTION CONTROL
        Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  EXTRACTION CONTROL
        Archaea "Crenarchaeota" Thermoprotei Thermoprot...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  EXTRACTION CONTROL

                                                             SAMPLE  Count
BARCODE Species
MID1    Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown      7
        Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown      2
        Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  unknown      3
        Archaea "Crenarchaeota" Thermoprotei Thermoprot...  unknown      3
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown      7

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

In [ ]:
df = pd.read_excel(DATA_FOLDER+'/titanic.xls')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

#### Answer
* pclass: integers, values in {1, 2, 3} depending on the class. This is a `categorical` attribute.
* survived: integers, values in {0 ,1} depending on whether the person survived. This is a `categorical` attribute.
* name: string
* sex: string, values in {male, female}. This is a `categorical` attribute.
* age: double, values ranging from 0.1667 to 80.
* sibsp: integers, values from 0 to 8. This is a `categorical` attribute.
* parch: integers, values from 0 to 9. This is a `categorical` attribute.
* ticket: string (ticket number and name)
* fare: float, values rangins from 0 to 512.3292.
* cabin: string. This is a `categorical` attribute.
* embarked: char, values ins {C, Q, S}. This is a `categorical` attribute.
* boat: string (boat letter and number). This is a `categorical` attribute.
* body: integers: values from 1 to 328.
* home.dest: string. This is a `categorical` attribute.

_there are maybe still more `categorical` attributes._
### TODO: transform categorical attributes

In [ ]:
# Categorical attribute values
print(df.columns)
for cat_col in ("pclass","survived","sex","sibsp","parch","embarked", "boat", "cabin",):
    print(cat_col,":",pd.unique(df[cat_col]))
    print(len(pd.unique(df[cat_col]))," distinct values")
df.describe()

### Question 3.2
Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*.

In [ ]:
def plot_histogram(x, y, title, abscissa, figsize=(20,10)):
    """
    This functions plots a histogram adding the values on top of the bins.

    x: values of the attribute that is being counted
    y: counts of the x values
    title: title to give to the histogram
    abscissa: absissa to be displayed (what is being counted)
    """
    fig, ax = plt.subplots(figsize=figsize)
    width = 0.5 # the width of the bars
    ind = np.arange(len(y))  # the x locations for the groups
    ax.bar(ind, y, width, color="red")
    ax.set_xticks(ind)
    ax.set_xticklabels(x, minor=False)
    plt.title(title)
    plt.ylabel('Count')
    plt.xlabel(abscissa)
    for i, v in enumerate(y):
        ax.text(i-width/6, v + 10, str(v), color='red')
    plt.show()

In [ ]:
def handle_null(x, y, attribute):
    """
    This functions looks in the DataFrame is the `attribute` has some nan values and if so
    appends the counts to y and adds the 'Unknown' string to x.
    
    x: values of the attribute (that are being counted in the original DataFrame)
    y: counts of the values
    """
    tmp = df[attribute].isnull().value_counts()
    if len(tmp) == 2:
        x.append('Unknown')
        y.append(tmp[True])

#### Plot for the travel class:

In [ ]:
pclass_x = list(df['pclass'].value_counts().sort_index().index)
pclass_y = list(df['pclass'].value_counts().sort_index().values)
handle_null(pclass_x, pclass_y, 'pclass')

plot_histogram(pclass_x, pclass_y, 'Histogram on the travel class', 'Travel Class', figsize=(7,5))

#### Plot for the embarkation port:

In [ ]:
embarked_x = list(df['embarked'].value_counts().sort_index().index)
embarked_y = list(df['embarked'].value_counts().sort_index().values)
handle_null(embarked_x, embarked_y, 'embarked')

for n,i in enumerate(embarked_x):
    if i == 'S':
        embarked_x[n] = 'Southampton'
    if i == 'Q':
        embarked_x[n] = 'Queenstown'
    if i == 'C':
        embarked_x[n] = 'Cherbourg'

plot_histogram(embarked_x, embarked_y, 'Histogram of the embarkation ports', 'Embarkation Port', figsize=(7,5))

#### Plot for the gender:

In [ ]:
sex_x = list(df['sex'].value_counts().sort_index().index)
sex_y = list(df['sex'].value_counts().sort_index().values)
handle_null(sex_x, sex_y, 'sex')

plot_histogram(sex_x, sex_y, 'Histogram of gender repartition of passengers', 'Gender', figsize=(5,5))

#### Plot for the age

In [ ]:
age_x = [u'0..9', u'10..19', u'20..29',u'30..39', u'40..49', u'50..59', u'60..69', u'70..79', u'80..89', u'Unknown']
age_y = [0 for i in range(10)]
for i in df['age'].index:
    if pd.isnull(df['age'][i]):
        age_y[9] += 1
    else:
        age_y[int(df['age'][i])//10] += 1

plot_histogram(age_x, age_y, 'Histogram of age repartition of passengers', 'Age')

### Question 3.3
_Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*._

#### Answer:

We want to go through the DataFrame in order to fill the floor_count DataFrame. The latter counts the number of passengers that have a cabin on each floor (A, B, C, D, E, F, G, T (Tank Top)) to get something like that: 
<img src='Data/1.png' style="width: 100px;">

There are some passengers with several cabins. In that case we have to make sure that all the passenger's cabins are on the same floor. The list `problems` is meant to tackle this issue. It shows that the passengers that have cabins on different floors have cabins of the form:

['F G63', 'F G63', 'F E57', 'F E46', 'F G73', 'F E69', 'F G73']

We decide to ignore the cabin designation `F` as it seems to refer only to a floor and not really to a cabin.

In [ ]:
problems = [] # this will contain the entries that have cabins on different floors.
floor_count = pd.DataFrame([0, 0, 0, 0, 0, 0, 0, 0, 0], columns=['count'], index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'Unknown'])

for i in df.index: #let's go through the dataframe looking at the cabin of each passenger
    cabin = df.loc[i, 'cabin']
    
    if pd.isnull(cabin):
        floor_count.loc['Unknown', 'count'] += 1
    
    if not pd.isnull(cabin): # then we know the cabin of the passenger
        tmp = cabin.split(' ')
        
        if len(tmp) == 1:
            floor_count.loc[tmp[0][0], 'count'] += 1

        if len(tmp) > 1:
            # then the passenger has several cabins
            # we have to check if they are all on the same floor
            boo = True
            for i in range(len(tmp)-1):
                if tmp[0][0] != tmp[i+1][0]:
                    boo = False
                    break
            if boo: # all cabins are on the same floor 
                floor_count.loc[tmp[0][0], 'count'] += 1
            if not boo:
                problems.append(cabin)
                floor_count.loc[tmp[1][0], 'count'] += 1 # this is explained under the celle (we choose to ignore 'F')

print(problems)

#### Plots

In [ ]:
labels = 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'Unknown'
sizes = np.array(floor_count.values)

def absolute_value(val):
    a  = np.round(val/100.*sizes.sum(), 0)
    return a

fig1, ax1 = plt.subplots(figsize=(20,10))
ax1.pie(sizes, labels=labels, autopct=absolute_value,
        shadow=False, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title('Pie chart of the repartition of passengers by cabin floor (including unknowns)')
plt.show()

In [ ]:
labels = 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'
sizes = np.array(floor_count.values[:-1])

def absolute_value(val):
    a  = np.round(val/100.*sizes.sum(), 0)
    return a

fig1, ax1 = plt.subplots(figsize=(20,10))
ax1.pie(sizes, labels=labels, shadow=False, autopct=absolute_value, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title('Pie chart of the repartition of passengers by cabin floor (excluding unknowns)')
plt.show()

### Question 3.4
_For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*._

#### Answer:
There are no NAs for the attribute `survived` so we do not have to worry about it in this question.

In [ ]:
# survivors_count contains for each class the number of passengers that survived and those did not. 
# NAs are excluded of the count.
survival_count = pd.DataFrame(df['name'].groupby([df.pclass, df.survived]).count())
survival_count.columns = ['count']

# survivors_percentage contains for each class the percentage of passengers that survived or not.
# NAs are excluded.
survival_percentages = pd.DataFrame(df['name'].groupby(df.pclass).count())
survival_percentages.columns = ['pclass_total']
survival_percentages = pd.merge(survival_count, survival_percentages, left_index=True, right_index=True)
survival_percentages['percentage'] = np.divide(survival_percentages['count'], survival_percentages['pclass_total'])

survival_percentages

#### Figures

In [ ]:
labels = 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'
sizes = np.array(floor_count.values[:-1])

plt.subplots(figsize=(15,4))

def percent(val):
    a  = str(val.round(2)) + " %"
    return a

for i in range(1,4):
    data_pie = survival_percentages[survival_percentages.index.labels[0]==(i-1)]
    y = data_pie['percentage'].values
    x = 'Survived', 'Dead'
    plt.subplot(1,3,i)
    plt.pie(y, labels=x, autopct=percent, startangle=90)
    plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
    plt.title('Category '+ str(i))

plt.show()

### Question 3.5
_Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*._

#### Answer:
There are still no NAs for the attribute `survived` so we do not have to worry about it in this question.

In [ ]:
# get the data ready
# get survivor count
total_class_survived = pd.DataFrame(df['name'].groupby([df.pclass, df.sex, df.survived]).count())
total_class_survived.columns = ['count']
total_class_survived=total_class_survived.reset_index()

# sum of survivors per class
total_class = pd.DataFrame(df['name'].groupby([df.sex, df.pclass]).count())
total_class.columns = ['pclass_sex_total']
total_class = total_class.reset_index()
total_class = pd.merge(total_class_survived, total_class)
total_class = total_class.set_index(['pclass', 'survived', 'sex'])
total_class['percentage'] = np.divide(total_class['count'], total_class['pclass_sex_total'])
total_class

Now, we can get an array of 4\*3 containing the percentages for survived / dead women and men, respectively.

`survived_dead[0][i]` contains the percentage of women of class i who died

`survived_dead[1][i]` contains the percentage of women of class i who survived

`survived_dead[2][i]` contains the percentage of men of class i who died

`survived_dead[3][i]` contains the percentage of men of class i who survived

In [ ]:
survived_dead = [] #4*3 array
for sex in range(0,2):
    for survived in range(0,2):
        tmp = total_class[total_class.index.labels[2] == sex] # filter by survived 
        tmp = tmp[tmp.index.labels[1] == survived] # filter by sex
        survived_dead.append(tmp['percentage'].values)

survived_dead

#### Plot histogram
We want to plot a hitogram grouped by pclass, always showing survived / dead for m / f

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import colors as mcolors

fig = plt.figure(figsize=(20,10))
ax = fig.add_subplot(111)

colors = dict(mcolors.BASE_COLORS, **mcolors.CSS4_COLORS)

# box positions
N = 3
ind = np.arange(N) # x locations for the groups
width = .2 # the width of the bars

dx=ind
rects=[] # dead_women, living_women, dead_men, living_men

color_map = [colors['forestgreen'], colors['lightgreen'], colors['orangered'], colors['coral']]

for e in range(1,5):
    rects.append(ax.bar(dx, survived_dead[e-1], width,color=color_map[e-1]))
    dx=ind+(e)*width

    # TODO add labels
    
# bars
fsize=15
# axes and labels
ax.set_xlim(-width,len(ind)+width)
ax.set_ylim(0,1)
ax.set_xlabel('Travel Class', fontsize=fsize)
ax.set_ylabel('Percentage Survivors [%]', fontsize=fsize)
ax.set_title('Survivors by travel class and gender', fontsize=fsize)
xTickMarks = [str(i) for i in range(1,4)]
ax.set_xticks(ind + width)
xtickNames = ax.set_xticklabels(xTickMarks)
plt.setp(xtickNames, rotation=45, fontsize=fsize)


## add a legend
ax.legend(('Women Dead', 'Women Alive','Men Dead', 'Men Alive'), fontsize=fsize)

plt.show()

### Question 3.6 
_Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index._

In [ ]:
# Create two labels, based on age
df_sorted = df[df.age.notnull()].sort_values(by='age')
# TODO convert decimals
df_sorted['cat'] = pd.cut(df_sorted['age'].values, 2, labels=['young', 'old'])

In [ ]:
# get the data ready
# get survivor count
total_class_survived = pd.DataFrame(df_sorted[['cat']].groupby([df_sorted.pclass, df_sorted.sex, 
                                                                df_sorted.survived, df_sorted.cat]).count())
total_class_survived.columns = (['count'])
total_class_survived = total_class_survived.reset_index()

# sum of survivors per class to get the percentage
total_class = pd.DataFrame(df_sorted['cat'].groupby([df_sorted.sex, df_sorted.pclass, df_sorted.cat]).count())
total_class.columns = ['countTOT'] # total count
total_class = total_class.reset_index()
total_class = pd.merge(total_class_survived, total_class)
total_class = total_class.set_index(['cat', 'pclass', 'sex', 'survived'])
total_class['Percentage'] = np.divide(total_class['count'], total_class['countTOT']).round(2)
total_class = total_class.reset_index()
total_class = total_class.drop('countTOT', axis=1)
total_class.columns = ['Age Category', 'Travel Class', 'Sex', 'Survived', 'Count', 'Percentage']
total_class = total_class.set_index(['Age Category', 'Travel Class', 'Sex', 'Survived'])
total_class