# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [23]:
DATA_FOLDER = './Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [284]:
# Write your answer here
# Dataframe importing 
# Colums: country, month, averagy, new cases, death

import glob

# column names and interesting variables for each country
col_date={"liberia": "Date",
        "guinea" : "Date",
        "sl" : "date"} # descriptor column title

col_name={"liberia": "Variable",
        "guinea" : "Description",
        "sl" : "variable"} # descriptor column title

# TODO total vs new deaths / cases
col_total={"guinea":"Totals",
         "liberia":"National",
         "sl": "National"} # name of the column in each file where the national totals are stored
# TODO sum counties if no national data availble
# TODO total for the day or cumulative over the moth?

variables={"liberia": ["Total death/s in confirmed cases","New case/s (confirmed)"],
           "guinea" : ["Total deaths of confirmed","New cases of confirmed"],
           "sl":["death_confirmed","cum_confirmed"]} # relevant rows in col_name[country]



for c in ['sl']:#'guinea','liberia',
    dfs=[]
    for file in glob.glob(DATA_FOLDER+"/ebola/"+c+"_data/*.csv"):
        df = pd.read_csv(file,index_col=None)
        
        new = df[df[col_name[c]].isin(variables[c])]
        
        
        new = new[[col_date[c],col_name[c],col_total[c]]]
        #print(new[0:1][col_total[c]].values[0])
        cases=float((str(new[0:1][col_total[c]].values[0]).replace(',','')))
    
        deaths=float(new[1:2][col_total[c]]) # TODO if there are several rows, take sum

        date=new[1:2][col_date[c]]
        newdf=pd.DataFrame({"Country":c,"Date":date,"Deaths":deaths,"Cases":cases},index=None)
        dfs.append(newdf)
        
for i in range(len(dfs)-1):
   dfs[0] = pd.concat([dfs[0],dfs[i+1]])

dfs[0].head()

     Cases Country        Date  Deaths
11  1287.0      sl  2014-09-07   428.0
11  3841.0      sl  2014-10-30  1064.0
11  3223.0      sl  2014-10-19   986.0
11  3936.0      sl  2014-10-31  1070.0
11  3154.0      sl  2014-10-18   973.0

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [3]:
# Write your answer here
import pandas as pd

# Read in Excel files, concatenate them and add file name (MID1...9) for later merging
i=1
MID = pd.read_excel(DATA_FOLDER+'/microbiome/MID'+str(i)+'.xls', sheetname='Sheet 1', header=None,index_col=0)
MID.columns=['Count']
MID['BARCODE'] = "MID1" # add column with file name
for i in range(2,10):
    MID_tmp=pd.read_excel(DATA_FOLDER+'/microbiome/MID'+str(i)+'.xls', sheetname='Sheet 1', header=None,index_col=0)
    MID_tmp.columns=['Count']
    MID_tmp['BARCODE'] = "MID"+str(i)  # add column with file name
    MID=pd.concat([MID, MID_tmp], axis=0)
# read metadata

MID.index.name="Species"
MID.head()
metadata = pd.read_excel(DATA_FOLDER+'/microbiome/metadata.xls', sheetname='Sheet1',index_col=0)

# merge metadata and files
MID_merged = pd.merge(metadata, MID, left_index=True, right_on='BARCODE')
MID_merged=MID_merged.reset_index().set_index(['Species','BARCODE']) # new index
# print(MID_merged.index.is_unique) # True
MID_merged=MID_merged.fillna("unknown")
MID_merged.head()

,,GROUP,SAMPLE,Count
Species,BARCODE,,,
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera",MID1,EXTRACTION CONTROL,unknown,7
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Pyrodictiaceae Pyrolobus",MID1,EXTRACTION CONTROL,unknown,2
"Archaea ""Crenarchaeota"" Thermoprotei Sulfolobales Sulfolobaceae Stygiolobus",MID1,EXTRACTION CONTROL,unknown,3
"Archaea ""Crenarchaeota"" Thermoprotei Thermoproteales Thermofilaceae Thermofilum",MID1,EXTRACTION CONTROL,unknown,3
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanocellales Methanocellaceae Methanocella",MID1,EXTRACTION CONTROL,unknown,7

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here