In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ged171.csv')
df.columns

Index(['id', 'year', 'active_year', 'type_of_violence', 'conflict_new_id',
       'conflict_name', 'dyad_new_id', 'dyad_name', 'side_a_new_id', 'gwnoa',
       'side_a', 'side_b_new_id', 'gwnob', 'side_b', 'number_of_sources',
       'source_article', 'source_office', 'source_date', 'source_headline',
       'source_original', 'where_prec', 'where_coordinates', 'adm_1', 'adm_2',
       'latitude', 'longitude', 'geom_wkt', 'priogrid_gid', 'country',
       'country_id', 'region', 'event_clarity', 'date_prec', 'date_start',
       'date_end', 'deaths_a', 'deaths_b', 'deaths_civilians',
       'deaths_unknown', 'best', 'low', 'high'],
      dtype='object')

In [14]:
df.loc[0]

id                                                                   4
year                                                              2010
active_year                                                          1
type_of_violence                                                     1
conflict_new_id                                                    230
conflict_name                           Yemen (North Yemen):Government
dyad_new_id                                                        459
dyad_name                     Government of Yemen (North Yemen) - AQAP
side_a_new_id                                                      123
gwnoa                                                              678
side_a                               Government of Yemen (North Yemen)
side_b_new_id                                                      881
gwnob                                                              NaN
side_b                                                            AQAP
number_of_sources                                                   -1
source_article       BBC Monitoring Middle East, 2010-10-01, Yemen ...
source_office                                                      NaN
source_date                                                        NaN
source_headline                                                    NaN
source_original                                   Ministry of Interior
where_prec                                                           1
where_coordinates                                          Şan‘ā’ city
adm_1                                    Amānat al ‘Āşimah governorate
adm_2                                                              NaN
latitude                                                       15.3547
longitude                                                      44.2067
geom_wkt                                   POINT (44.206667 15.354722)
priogrid_gid                                                    151649
country                                            Yemen (North Yemen)
country_id                                                         678
region                                                     Middle East
event_clarity                                                        1
date_prec                                                            1
date_start                                                  2010-09-25
date_end                                                    2010-09-25
deaths_a                                                             2
deaths_b                                                             0
deaths_civilians                                                     0
deaths_unknown                                                       0
best                                                                 2
low                                                                  2
high                                                                 2
Name: 0, dtype: object


## State based conflicts in Africa

In [4]:
df.drop_duplicates('region')['region']

0        Middle East
603           Africa
2595          Europe
7612            Asia
37886       Americas
Name: region, dtype: object

In [9]:
conflicts = tmp.drop_duplicates('conflict_new_id')

In [7]:
dfa = df.loc[df.region == 'Middle East']

In [10]:
c

{'AQAP',
 'Chechen Republic of Ichkeria',
 'Democratic Republic of Yemen',
 'Forces of Michel Aoun',
 'Forces of the Caucasus Emirate',
 'Government of Australia, Government of United Kingdom, Government of United States of America',
 'Government of Iran',
 'Government of Iraq',
 'Government of Israel',
 'Government of Jordan',
 'Government of Kuwait',
 'Government of Lebanon',
 'Government of Russia (Soviet Union)',
 'Government of Syria',
 'Government of Turkey',
 'Government of United States of America',
 'Government of Yemen (North Yemen)',
 'Hamas',
 'Hezbollah',
 'IS',
 'KDPI',
 'MKP',
 'PJAK',
 'PKK',
 'PUK',
 'Syrian insurgents',
 'al-Qaida '}

In [8]:
tmp = dfa.loc[dfa.type_of_violence == 1]
a = set(tmp.drop_duplicates('conflict_new_id').drop_duplicates('side_a')['side_a'])
b = set(tmp.drop_duplicates('conflict_new_id').drop_duplicates('side_b')['side_b'])
c = a.union(b)
govs = []
for i in c:
    if i[0:10] == 'Government':
        govs.append(i)
print('{} state conflicts in Africa since 1989 involving {} actors ({} were governments).'.format((len(tmp.drop_duplicates('conflict_new_id'))), len(c), len(govs)))

21 state conflicts in Africa since 1989 involving 27 actors (12 were governments).

In [11]:
for i in conflicts.index:
    if conflicts.loc[i, 'side_a'] == 'Government of United States of America':
        print(conflicts.loc[i, 'side_b'], conflicts.loc[i, 'conflict_new_id'])

al-Qaida  418

In [12]:
s_civil = 0
s_uk = 0
s_aq = 0
for i in tmp.loc[tmp.conflict_new_id == 418].index:
    s_civil += tmp.loc[tmp.conflict_new_id == 418].loc[i, 'deaths_civilians']
    s_uk += tmp.loc[tmp.conflict_new_id == 418].loc[i, 'deaths_unknown']
    s_aq += tmp.loc[tmp.conflict_new_id == 418].loc[i, 'deaths_b']

print('US only conflict in Africa has been against al-Quaida and has cost the lives of {} civilians, {} unknowns and {} members of al-Quaida.'.format(s_civil, s_uk, s_aq))

US only conflict in Africa has been against al-Quaida and has cost the lives of 12 civilians, 17 unknowns and 68 members of al-Quaida.

In [15]:
12+17+68

97

In [17]:
tmp.head()

,id,year,active_year,type_of_violence,conflict_new_id,conflict_name,dyad_new_id,dyad_name,side_a_new_id,gwnoa,...,date_prec,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,low,high
603,1489,1998,1,1,386,Algeria:Government,829,Government of Algeria - GIA,109,615.0,...,1,1998-03-06,1998-03-06,0,1,0,0,1,1,1
604,1490,1996,1,1,386,Algeria:Government,829,Government of Algeria - GIA,109,615.0,...,1,1996-01-21,1996-01-21,0,8,0,0,8,8,8
605,1491,2000,1,1,386,Algeria:Government,830,Government of Algeria - GSPC,109,615.0,...,1,2000-09-12,2000-09-12,0,1,0,0,1,1,1
606,1492,1994,1,1,386,Algeria:Government,828,Government of Algeria - AIS,109,615.0,...,2,1994-10-23,1994-10-25,0,2,0,0,2,2,2
607,1493,1997,1,1,386,Algeria:Government,829,Government of Algeria - GIA,109,615.0,...,1,1997-05-31,1997-05-31,0,1,0,0,1,1,1

In [13]:
dfa.drop_duplicates('type_of_violence')['type_of_violence']

603    1
612    3
701    2
Name: type_of_violence, dtype: int64

In [8]:
df.drop_duplicates('region')['region']

0        Middle East
603           Africa
2595          Europe
7612            Asia
37886       Americas
Name: region, dtype: object

In [53]:
df.head()

,id,year,active_year,type_of_violence,conflict_new_id,conflict_name,dyad_new_id,dyad_name,side_a_new_id,gwnoa,...,date_prec,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,low,high
0,4,2010,1,1,230,Yemen (North Yemen):Government,459,Government of Yemen (North Yemen) - AQAP,123,678.0,...,1,2010-09-25,2010-09-25,2,0,0,0,2,2,2
1,5,2011,1,3,715,Government of Yemen (North Yemen) - Civilians,1182,Government of Yemen (North Yemen) - Civilians,123,678.0,...,1,2011-02-19,2011-02-19,0,0,0,0,0,0,2
2,6,2011,1,1,230,Yemen (North Yemen):Government,459,Government of Yemen (North Yemen) - AQAP,123,678.0,...,1,2011-04-16,2011-04-16,0,0,0,0,0,0,1
3,7,2012,1,1,230,Yemen (North Yemen):Government,459,Government of Yemen (North Yemen) - AQAP,123,678.0,...,1,2012-06-04,2012-06-04,4,1,0,0,5,5,5
4,10,2012,1,1,230,Yemen (North Yemen):Government,459,Government of Yemen (North Yemen) - AQAP,123,678.0,...,1,2012-12-09,2012-12-09,0,4,1,0,5,5,5