# 02 - Data from the Web

## Deadline
Wednesday October 25, 2017 at 11:59PM

## Important Notes
* Make sure you push on GitHub your Notebook with all the cells already evaluated (i.e., you don't want your colleagues to generate unnecessary Web traffic during the peer review)
* Don't forget to add a textual description of your thought process, the assumptions you made, and the solution you plan to implement!
* Please write all your comments in English, and use meaningful variable names in your code.

## Background
In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need!
You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this [brief tutorial](https://www.youtube.com/watch?v=jBjXVrS8nXs&list=PLM-7VG-sgbtD8qBnGeQM5nvlpqB_ktaLZ&autoplay=1) to understand quickly how to use it.

## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
    - Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
    - Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

In [1]:
import math
import re
import json
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from functools import reduce
from tqdm import *
import matplotlib.pyplot as plt

#https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/100/sort_by/rank/sort_order/asc/cols/stats

# Part 1 : Scraping www.topuniversities.com

In [2]:
url = "https://www.topuniversities.com"

In [3]:
def detail_per_uni(urls) :
    
    soup = BeautifulSoup(urls.text,"html.parser")
    
    total_faculty  = soup.find('div',class_='total faculty')
    
    tf = 0
    ts = 0 
    ti = 0 
    
    if(total_faculty != None) :
        total_faculty = total_faculty.find('div',class_='number').text
        total_student = soup.find('div',class_='total student').find('div',class_='number').text
        total_international = soup.find('div',class_ = 'total inter').find('div',class_='number').text
        tf = int(total_faculty[1:-1].replace(',',''))
        ts = int(total_student[1:-1].replace(',',''))
        ti = int(total_international[1:-1].replace(',',''))
    else :
        #if the data isn't availble on the site
        tf = 0
        ts = 0
        ti = 0
    return {'Total faculty members': tf, 'Total students':ts,'International students':ti}

def scrape_uni_detail(urls):
    parsed_url = []
    
    for i,url in enumerate(tqdm_notebook(urls)) : 
        parsed_url.append(detail_per_uni(url))
        #print("progress ",i)

    return parsed_url

In [5]:
def noequals(x) :
    """
    checks if a certain string begins with '='
    """
    return None==re.match('(=)\w+', x)

In [7]:
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508105606999')

data= dict(json.loads(r.text))

data= pd.DataFrame(data['data'])[['title','rank_display','region','country','url']]

data.columns = ['University','Ranking', 'Region','Country','URL']
data.Ranking = data.Ranking.apply(lambda r : str(r))

rankings = list(data.Ranking)
#we clean the ranking column so that we don't have equals
rankings =  pd.Series([r if noequals(r) else r[1:] for r in rankings])

data['Ranking'] = rankings

In [8]:
urls = []

for i in tqdm_notebook(range(100)): 
    urls.append(requests.get(url+data.URL[i]))

HBox(children=(IntProgress(value=0), HTML(value='')))

In [9]:
for i in tqdm_notebook(range(100,200)):
    urls.append(requests.get(url+data.URL[i]))

HBox(children=(IntProgress(value=0), HTML(value='')))

In [10]:
details_uni = scrape_uni_detail(urls)

HBox(children=(IntProgress(value=0, max=200), HTML(value='')))

In [11]:
details_uni = pd.DataFrame(details_uni)

d = data.copy()
d = d.loc[:199]
d = d.drop('URL',axis=1)

final_data = pd.concat([d,details_uni],axis=1)
#final_data =final_data.set_index('University')

#### Sanity check for unique index

In [12]:
final_data.index.is_unique

True

In [13]:
final_data

,University,Ranking,Region,Country,International students,Total faculty members,Total students
0,Massachusetts Institute of Technology (MIT),1,North America,United States,3717,2982,11067
1,Stanford University,2,North America,United States,3611,4285,15878
2,Harvard University,3,North America,United States,5266,4350,22429
3,California Institute of Technology (Caltech),4,North America,United States,647,953,2255
4,University of Cambridge,5,Europe,United Kingdom,6699,5490,18770
5,University of Oxford,6,Europe,United Kingdom,7353,6750,19720
6,UCL (University College London),7,Europe,United Kingdom,14854,6345,31080
7,Imperial College London,8,Europe,United Kingdom,8746,3930,16090
8,University of Chicago,9,North America,United States,3379,2449,13557
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Europe,Switzerland,7563,2477,19815
10,"Nanyang Technological University, Singapore (NTU)",11,Asia,Singapore,7251,4338,25738
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Europe,Switzerland,5896,1695,10343
12,Princeton University,13,North America,United States,1793,1007,8069
13,Cornell University,14,North America,United States,5411,2718,21904
14,National University of Singapore (NUS),15,Asia,Singapore,8917,5106,32728
15,Yale University,16,North America,United States,2469,4940,12402
16,Johns Hopkins University,17,North America,United States,4105,4462,16146
17,Columbia University,18,North America,United States,8105,6189,25045
18,University of Pennsylvania,19,North America,United States,4250,5499,20639
19,The Australian National University,20,Oceania,Australia,5551,1600,14442
20,Duke University,21,North America,United States,2864,2938,15320
21,University of Michigan,21,North America,United States,7527,6809,43147
22,King's College London,23,Europe,United Kingdom,9451,3650,23780
23,The University of Edinburgh,23,Europe,United Kingdom,10551,4075,28040
24,Tsinghua University,25,Asia,China,4072,5506,36300
25,The University of Hong Kong,26,Asia,Hong Kong,8230,3012,20214
26,"University of California, Berkeley (UCB)",27,North America,United States,6086,3321,36703
27,Northwestern University,28,North America,United States,3422,4231,18675
28,The University of Tokyo,28,Asia,Japan,2639,4514,27279
29,The Hong Kong University of Science and Techno...,30,Asia,Hong Kong,2921,1150,10375
...,...,...,...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,171,Europe,Germany,3897,1966,23214
171,Indian Institute of Technology Delhi (IITD),172,Asia,India,80,466,7477
172,University of Virginia,173,North America,United States,1899,2509,21560
173,King Fahd University of Petroleum & Minerals,173,Asia,Saudi Arabia,989,1062,6040
174,University of Liverpool,173,Europe,United Kingdom,7502,2390,22065
175,University of Technology Sydney,176,Oceania,Australia,7769,1328,24207
176,CentraleSupélec,177,Europe,France,1132,529,3877
177,University of Florida,178,North America,United States,4597,5419,45485
178,University of Twente,179,Europe,Netherlands,2235,910,9332
179,Indian Institute of Technology Bombay (IITB),179,Asia,India,93,876,9402
180,University of Göttingen,181,Europe,Germany,3736,3678,30402
181,Vrije Universiteit Brussel (VUB),182,Europe,Belgium,1853,1792,9284
182,Universidade Estadual de Campinas (Unicamp),182,Latin America,Brazil,966,1968,26572
183,University of Colorado Boulder,182,North America,United States,2679,3685,30219
184,Vienna University of Technology,182,Europe,Austria,5199,706,17479
185,University of Rochester,186,North America,United States,2805,2569,9636
186,Universidad Autónoma de Madrid,187,Europe,Spain,2976,2738,26511
187,Alma Mater Studiorum - University of Bologna,188,Europe,Italy,4195,2990,63399
188,University of Reading,188,Europe,United Kingdom,4077,1280,13330
189,Indian Institute of Science (IISc) Bangalore,190,Asia,India,47,423,4071
190,University of Cape Town,191,Africa,South Africa,3325,1733,19593
191,Scuola Normale Superiore di Pisa,192,Europe,Italy,48,86,532
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,192,Europe,Italy,135,119,789
193,Keio University,192,Asia,Japan,2178,3905,33500
194,Stockholm University,195,Europe,Sweden,2636,2154,28281
195,Universitat Autònoma de Barcelona,195,Europe,Spain,3848,2187,31986
196,Texas A&M University,195,North America,United States,4900,3446,60294
197,Instituto Tecnológico y de Estudios Superiores...,199,Latin America,Mexico,1412,1822,13376
198,Maastricht University,200,Europe,Netherlands,8234,1277,16385
199,Universidad de Chile,201,Latin America,Chile,2134,2256,38848

## Ranking aggregation
We can now answer the following questions:
- Which are the best universities in term of: 
    * (a) ratio between faculty members and students
    * (b) ratio of international students
- Answer the previous question aggregating the data by 
    * (c) country
    * (d) region

In [14]:
final_data['Ratio faculty members and students'] = final_data['Total faculty members']/final_data['Total students']
final_data['Ratio faculty members and international students'] = final_data['Total faculty members']/final_data['International students']

ratio_faculty_intern_max = final_data['Ratio faculty members and international students'].idxmax()
ratio_faculty_total_students = final_data['Ratio faculty members and students'].idxmax()
#final_data.loc[final_data['Ratio faculty members and international students'] == number]

In [15]:
(pd.DataFrame(final_data.loc[ratio_faculty_intern_max]).T)

,University,Ranking,Region,Country,International students,Total faculty members,Total students,Ratio faculty members and students,Ratio faculty members and international students
179,Indian Institute of Technology Bombay (IITB),179,Asia,India,93,876,9402,0.0931717,9.41935

In [16]:
pd.DataFrame(final_data.loc[ratio_faculty_total_students]).T

,University,Ranking,Region,Country,International students,Total faculty members,Total students,Ratio faculty members and students,Ratio faculty members and international students
3,California Institute of Technology (Caltech),4,North America,United States,647,953,2255,0.422616,1.47295

## Aggregated by country
Now, let's plot the same results aggregated by country.

In [17]:
# we just perfom a simply groupby action to do the aggregrate

def get_aggregate_data(column,final_data,groupby) :

    final_data_grouped_region = final_data.sort_values([column],ascending=False).groupby([groupby])

    dataframe = []
    for region,df in (final_data_grouped_region) :
        dataframe.append(pd.DataFrame(df.iloc[0]).T)

    final_data_grouped_region = (reduce(lambda a,b : pd.concat([a,b],axis=0),dataframe ))

    return final_data_grouped_region

### Ranking of countries in term of ratio of students to staff in their universities

In [18]:
get_aggregate_data('Ratio faculty members and students',final_data,'Country').reset_index().set_index('Country')

,index,University,Ranking,Region,International students,Total faculty members,Total students,Ratio faculty members and students,Ratio faculty members and international students
Country,,,,,,,,,
Argentina,74,Universidad de Buenos Aires (UBA),75,Latin America,27109,16421,122301,0.134267,0.60574
Australia,19,The Australian National University,20,Oceania,5551,1600,14442,0.110788,0.288236
Austria,153,University of Vienna,154,Europe,14468,3411,45967,0.0742054,0.235762
Belgium,181,Vrije Universiteit Brussel (VUB),182,Europe,1853,1792,9284,0.19302,0.96708
Brazil,120,Universidade de São Paulo,121,Latin America,2086,5582,65711,0.0849477,2.67593
Canada,139,McMaster University,140,North America,3548,3231,23702,0.136318,0.910654
Chile,138,Pontificia Universidad Católica de Chile (UC),137,Latin America,991,2260,27003,0.0836944,2.28052
China,24,Tsinghua University,25,Asia,4072,5506,36300,0.15168,1.35216
Denmark,116,Technical University of Denmark,116,Europe,2098,2117,8878,0.238455,1.00906
Finland,102,University of Helsinki,102,Europe,1234,2645,22419,0.11798,2.14344
France,58,Ecole Polytechnique,59,Europe,924,649,3126,0.207614,0.702381
Germany,63,Technical University of Munich,64,Europe,6181,5850,38726,0.151061,0.946449
Hong Kong,25,The University of Hong Kong,26,Asia,8230,3012,20214,0.149006,0.365978
India,189,Indian Institute of Science (IISc) Bangalore,190,Asia,47,423,4071,0.103906,9
Ireland,87,"Trinity College Dublin, The University of Dublin",88,Europe,4311,1249,14961,0.0834837,0.289724
Israel,144,The Hebrew University of Jerusalem,145,Asia,1034,2249,16531,0.136047,2.17505
Italy,191,Scuola Normale Superiore di Pisa,192,Europe,48,86,532,0.161654,1.79167
Japan,76,Tohoku University,76,Asia,1604,3411,17827,0.191339,2.12656
Malaysia,113,Universiti Malaya (UM),114,Asia,3476,2755,17902,0.153893,0.792578
Mexico,197,Instituto Tecnológico y de Estudios Superiores...,199,Latin America,1412,1822,13376,0.136214,1.29037
Netherlands,123,Wageningen University,124,Europe,3613,2277,12695,0.179362,0.630224
New Zealand,81,The University of Auckland,82,Oceania,8568,2047,29641,0.0690597,0.238912
Norway,165,University of Bergen,164,Europe,767,1513,10671,0.141786,1.97262
Russia,95,Lomonosov Moscow State University,95,Europe,5098,6709,30233,0.22191,1.31601
Saudi Arabia,173,King Fahd University of Petroleum & Minerals,173,Asia,989,1062,6040,0.175828,1.07381
Singapore,10,"Nanyang Technological University, Singapore (NTU)",11,Asia,7251,4338,25738,0.168545,0.598262
South Africa,190,University of Cape Town,191,Africa,3325,1733,19593,0.08845,0.521203
South Korea,71,Pohang University of Science And Technology (P...,71,Asia,126,664,3117,0.213025,5.26984
Spain,186,Universidad Autónoma de Madrid,187,Europe,2976,2738,26511,0.103278,0.920027
Sweden,97,KTH Royal Institute of Technology,98,Europe,1937,1500,12658,0.118502,0.774393
Switzerland,72,University of Zurich,73,Europe,5036,4997,26065,0.191713,0.992256
Taiwan,75,National Taiwan University (NTU),76,Asia,3152,2807,32195,0.0871875,0.890546
United Kingdom,5,University of Oxford,6,Europe,7353,6750,19720,0.342292,0.917993
United States,3,California Institute of Technology (Caltech),4,North America,647,953,2255,0.422616,1.47295

### Ranking of countries in term of ratio of international students in their universities

In [19]:
get_aggregate_data('Ratio faculty members and international students',final_data,'Country').reset_index().set_index('Country')

,index,University,Ranking,Region,International students,Total faculty members,Total students,Ratio faculty members and students,Ratio faculty members and international students
Country,,,,,,,,,
Argentina,74,Universidad de Buenos Aires (UBA),75,Latin America,27109,16421,122301,0.134267,0.60574
Australia,93,The University of Western Australia,93,Oceania,4575,1420,18531,0.0766284,0.310383
Austria,153,University of Vienna,154,Europe,14468,3411,45967,0.0742054,0.235762
Belgium,181,Vrije Universiteit Brussel (VUB),182,Europe,1853,1792,9284,0.19302,0.96708
Brazil,120,Universidade de São Paulo,121,Latin America,2086,5582,65711,0.0849477,2.67593
Canada,139,McMaster University,140,North America,3548,3231,23702,0.136318,0.910654
Chile,138,Pontificia Universidad Católica de Chile (UC),137,Latin America,991,2260,27003,0.0836944,2.28052
China,96,University of Science and Technology of China,97,Asia,548,1992,16032,0.124251,3.63504
Denmark,73,University of Copenhagen,73,Europe,3683,7483,32119,0.232977,2.03177
Finland,102,University of Helsinki,102,Europe,1234,2645,22419,0.11798,2.14344
France,156,École Normale Supérieure de Lyon,157,Europe,221,382,2020,0.189109,1.72851
Germany,163,Eberhard Karls Universität Tübingen,164,Europe,3860,3844,27366,0.140466,0.995855
Hong Kong,94,The Hong Kong Polytechnic University,95,Asia,5251,2447,20972,0.116679,0.466006
India,179,Indian Institute of Technology Bombay (IITB),179,Asia,93,876,9402,0.0931717,9.41935
Ireland,167,University College Dublin,168,Europe,3876,1604,19833,0.0808753,0.413829
Israel,144,The Hebrew University of Jerusalem,145,Asia,1034,2249,16531,0.136047,2.17505
Italy,191,Scuola Normale Superiore di Pisa,192,Europe,48,86,532,0.161654,1.79167
Japan,76,Tohoku University,76,Asia,1604,3411,17827,0.191339,2.12656
Malaysia,113,Universiti Malaya (UM),114,Asia,3476,2755,17902,0.153893,0.792578
Mexico,121,Universidad Nacional Autónoma de México (UNAM),122,Latin America,2173,15073,141939,0.106194,6.93649
Netherlands,109,Utrecht University,109,Europe,2771,3067,31754,0.0965863,1.10682
New Zealand,150,University of Otago,151,Oceania,3871,1266,18532,0.0683143,0.327047
Norway,165,University of Bergen,164,Europe,767,1513,10671,0.141786,1.97262
Russia,95,Lomonosov Moscow State University,95,Europe,5098,6709,30233,0.22191,1.31601
Saudi Arabia,173,King Fahd University of Petroleum & Minerals,173,Asia,989,1062,6040,0.175828,1.07381
Singapore,10,"Nanyang Technological University, Singapore (NTU)",11,Asia,7251,4338,25738,0.168545,0.598262
South Africa,190,University of Cape Town,191,Africa,3325,1733,19593,0.08845,0.521203
South Korea,71,Pohang University of Science And Technology (P...,71,Asia,126,664,3117,0.213025,5.26984
Spain,186,Universidad Autónoma de Madrid,187,Europe,2976,2738,26511,0.103278,0.920027
Sweden,194,Stockholm University,195,Europe,2636,2154,28281,0.0761642,0.817147
Switzerland,72,University of Zurich,73,Europe,5036,4997,26065,0.191713,0.992256
Taiwan,75,National Taiwan University (NTU),76,Asia,3152,2807,32195,0.0871875,0.890546
United Kingdom,5,University of Oxford,6,Europe,7353,6750,19720,0.342292,0.917993
United States,79,"University of North Carolina, Chapel Hill",80,North America,1934,4083,25373,0.160919,2.11117

## Aggregated by region
Now, let's plot the same results aggregated by region.

### Ranking of regions in term of ratio of international students in their universities

In [ ]:
get_aggregate_data('Ratio faculty members and international students',final_data,'Region').set_index('Region')

### Ranking of regions in term of ratio of students to staff in their universities

In [ ]:
get_aggregate_data('Ratio faculty members and students',final_data,'Region').set_index('Region')

# Part 2 : Scraping www.timeshighereducation.com
Assumptions
- We are using [this site](https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats) which contains the rankings of 2018.
- Rank saved within `<td class="rank ..."><td>` element
- University saved within `<a href="..." class="ranking-institution-title ..."></a>` element
- Country saved within `<div class="location"></div>` element

First, the the data returned in the json file returned in the `GET` request are imported and Universities that are not within the top 200 are removed

In [ ]:
def loadData(URL):
    # make a request
    r = requests.get(URL)
    r = r.json()
    # parse HTML with BeautifulSoup
    df=pd.DataFrame(r['data'])
    return df
    
URL = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
df=loadData(URL)
print(df.columns)
display(df.head())

We do not need all columns, thus we extract only the ones relevant to the data we are looking for: _name, rank, country and region, number of faculty members (international and total) and number of students (international and total)._

These columns are derived as follows:
- `name`: column `name`
- `country`: `location`
- `region`: in detail URL?
- `number of faculty members (international)`: ?
- `number of faculty members (total)`: `stats_number_students` times `stats_student_staff_ratio`
- `number of students (international)`: `stats_number_students` times `stats_pc_intl_students`
- `number of students (total)`: `stats_number_students`

We first have to do some data cleanup:
- remove equal sign (`=`) in field `rank` (Universities having the same rank) and removing universities having a rank above 200
-  convert percentage of students in field `stats_pc_intl_students` (e.g. 83%) to float (e.g., 0.83) for multiplication
- Remove commas and cast to  type `int` for column `stats_number_students` ("number of students")

In [ ]:
df = loadData(URL)
columns = ['name','rank','location','stats_number_students','stats_student_staff_ratio',
           'stats_pc_intl_students','nid']
columns_new_names = ['name','rank','country','n_students','ratio_student_staff','pc_students_int','nid']

df = df[columns] # selections the columns
df.columns = (columns_new_names) # renaming the columns

# Cleaning the rank attribute
df['rank'] = df['rank'].str.replace('=','')
df = df[np.isin(df['rank'], ['1001+','201–250','251–300','301–350','351–400','401–500','501–600','601–800','801–1000'],
                invert=True)]
df['rank'] = df['rank'].astype(int)

# Convert percentage (e.g. 83%) to float (e.g., 0.83) for multiplication
def divide(x, n = 100):
    return float(x)/n

df['pc_students_int'] = df['pc_students_int'].str.replace('%','').apply(divide, n=100)

df['ratio_student_staff'] = df['ratio_student_staff'].str.replace(',', '').astype(float)

# clean up: stats on number of students
df['n_students'] = df['n_students'].str.replace(',', '').astype(int)
df.head()

We can now derive new columns for the missing data fields based on the existing columns.

In [ ]:
# derived columns
df['n_staff'] = np.round(df['n_students'] / (df['ratio_student_staff'])).astype(int)
df['n_students_int'] = np.round(df['n_students'] * df['pc_students_int']).astype(int)
#df['ratio_staff_student']=df['ratio_student_staff']**-1
display(df.head())

## Ranking aggregation
We can now answer the following questions:
- Which are the best universities in term of: 
    * (a) ratio between faculty members and students
    * (b) ratio of international students
- Answer the previous question aggregating the data by 
    * (c) country
    * (d) region

Plot your data using bar charts and describe briefly what you observed.

In [ ]:
def plot_histogram(df, x, y, title, xlab, figsize=(20,10)):
    """
    This functions plots a histogram adding the values on top of the bins.
    
    df: dataframe
    x: column name for x axis
    y: column name for y axis
    title: title to give to the histogram
    xlab: xlabel
    """
    x=df[x].values
    y=np.round(df[y],2)
    fig, ax = plt.subplots(figsize=figsize)
    width = 0.5 # the width of the bars
    ind = np.arange(len(y))  # the x locations for the groups
    ax.bar(ind, y, width, color="red")
    ax.set_xticks(ind)
    ax.set_xticklabels(x, rotation=90)
    plt.title(title)
    plt.xlabel(xlab)
    plt.ylabel(title)
    for i, v in enumerate(y):
        
        ax.text(i-width/2, v*1.02, str(v), color='red')

    plt.show()

### Ranking in term of ratio between students and faculty members

In [ ]:
# ratio between faculty members and students
df_ratio_ss = df.sort_values(by=['ratio_student_staff']).head(10)
plot_histogram(df_ratio_ss,"name","ratio_student_staff", title='Ratio students to staff',
               xlab='University', figsize=(7,5))

### Ranking in term of ratio of international students

In [ ]:
# ratio of international students
df_ratio_is = df.sort_values(ascending=False,by=['pc_students_int']).head(10)
plot_histogram(df_ratio_is,'name','pc_students_int', title='International Students Percentage',
               xlab='University', figsize=(7,5))

## Aggregated: by country
Now, let's plot the same results aggregated by country.

### Ranking of countries in term of ratio of students to staff in their universities

In [ ]:
df_c_ratio_ss=df.groupby("country").mean().sort_values(ascending=False,by=['ratio_student_staff']).head(10)
df_c_ratio_ss.reset_index(inplace=True)

In [ ]:
plot_histogram(df_c_ratio_ss,"country","ratio_student_staff", title='Ratio students to staff',
               xlab='University', figsize=(7,5))

### Ranking of countries in term of international students percentage in their universities

In [ ]:
df_c_ratio_is=df.groupby("country").mean().sort_values(ascending=False,by=['pc_students_int']).head(10)
df_c_ratio_is.reset_index(inplace=True)

In [ ]:
plot_histogram(df_c_ratio_is,"country","pc_students_int", title='International Students Percentage',
               xlab='University', figsize=(7,5))